<div class="grid grid-nogutter surface-section text-800" style="background-color: #21345b70 !important;">
    <div class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center ">
        <section>
            <div style="text-align: center;">
            <span class="block text-6xl font-bold mb-1">ASTERISM</span>
            <div class="text-6xl text-primary font-bold mb-3" >Ваше вікно у Всесвіт</div>
            <p class="mt-0 mb-4 text-700 line-height-3"> <span>З найдавніших часів, коли людина почала усвідомлювати себе, вона стала дивитися в небо, милуватися ним, вивчати. 
                І навіть зараз, піднявши голову вгору, ми дивуємося красі Всесвіту не менше, ніж тисячі років тому. Але інколи, ми можемо пропустити явища, які відбуваються раз на 100 років, і, можливо, опустити єдиний шанс побачити на власні очі чудо.
                <br>
                <br>ASTERISM допоможе вам не проґавити найунікальніші явища. Ви матимете змогу переглядати події, які будуть відбуватися в майбутньому та обирати ті, які ви не хочете пропусти за жодних обставин. За день до події ви отримаєте нагадування про неї, щоб сповна насолодитись заворожуючою красою.
                <br>
                <br>Це Ваш персональний астрономічний календар, що розкриває таємниці небес.
                Одне життя, а багато чудес - ASTERISM допоможе вам побачити усі.</span></p>
            </div>
        </section>
    </div>
    <div class="col-12 md:col-6 overflow-hidden">
        <img src="../../../../assets/demo/images/home/Asterism Way.gif" class="md:ml-auto block md:h-full" style="clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%)">
    </div>
</div>